language: groovy
jdk:
  - oraclejdk8
  
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    
install: echo "skip 'gradle assemble' step"
script: ./gradlew clean build jacocoRootReport coveralls alljavadoc --continue

